
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

%hide-text {
  text-indent: -9999px;
  overflow: hidden; 
}
 
.foo {
  @extend %hide-text;
} 

.bar {
  @extend %hide-text; 
}

.baz {
  font-size: 10px;
  @extend %hide-text;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

.foo {
  @include border-radius(5px);
}

.bar {
  @include border-radius(7px);
}

.baz {
  @include border-radius(9px);
}